
.mapdiv {
  width: 800px;
  margin: 50px auto;
}

#outer_delimitation {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

#inner_delimitations path, #inner_delimitations polyline {
  stroke: black;
  fill: none;
}

 #London_boroughs path {
  fill: lightgrey;
}

 #London_boroughs path:hover {
  fill: red;
}

/* Fixing the Barking split path shape - doesn't work after inserting <a> tags*/
 #Barking:hover ~ #topOfBarking {
  fill: red;
}

@media (max-width:900px){
.mapdiv  {
width:95%
}
}

.maphidden p {
  font-size: 2rem;
  font-weight: 200;
  color:white;
  text-transform: uppercase;
  margin: 30% 5% 5% 5%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

#addendum {
  font-size: 0.5rem;
  margin: 0 5% 10% 5%;
  font-weight: lighter;
}

.maphidden ul {
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  list-style: none;
  line-height: 2rem;
  text-transform: uppercase;
}

.maphidden li:hover {
  color: red;
  cursor: pointer;
}

.langPage {
  width: 90%;
  height: 80vh;
  background-color: white;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.langImg {
  height: 20vh;
  background: url('Imgs/Arabic_bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.langTitle {
  height: 20vh;
}

.langTitle h1{
  color: white;
  font-family: 'Nunito', sans-serif;
  line-height: 20vh;
  white-space: nowrap;
  margin-left: 20px;
}

.photoCredit {
  font-size: 0.5rem;
  text-align: right;
}

.langFacts {
  margin: 20px;
  padding: 10px;
  background-color: rgb(200,200,200);
  border-radius: 15px;
  height: auto;
}

.langFacts li {
  list-style: none;
  padding: 5px;

}
.langPhrases{
  margin: auto;
  align-items: center;

}
