*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}
body{
  background-color: black;
  background-image: url('Imgs/tube gradient.png');
  background-size:cover;
	background-repeat:no-repeat;
  background-position: top;

}

p.info{
  color: rgb(197, 193, 193);
  border: 5px solid transparent;
  margin: 15px;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;

}
.project h3{
   text-transform: uppercase;
   margin: auto;
   color: white;
   font-size: 30px;
   margin-top: 48px;


}
nav{
  display: flex;
justify-content: space-around;
align-items: center;
min-height: 8vh;
font-family: 'Nunito', sans-serif;

}
.navbar.scrolled{
	background-color: rgba(0,0,0,0.5);
	transition:background 1s;

}

.logo{
  color:rgb(197, 193, 193);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;

}

.logo a:hover {
  color: red;
  text-shadow: 2px 2px 2px white;
}

.logo a {
  color:rgb(197, 193, 193);
  text-decoration: none;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
  text-transform: uppercase;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color:rgb(197, 193, 193);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.navbar a:hover {
  border-bottom: 4px solid red;
}

.burger{
  display:none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height:3px;
  background-color:rgb(197, 193, 193);
  margin:5px;
}

.nav-links{
  width: 60%;
}

@media screen and (max-width:780px){
  .nav-links{
    position: absolute;
    right:0px;
    height:50vh;
    top:8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    transform: translatex(100%);

  }
  .nav-links li{
    opacity:0;
  }
  .burger{
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
  transition:transform 0.5s ease-in;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


.jumbotron{
  display: block;
  background-color: transparent;
  background-position: center;
  background-image: url('Imgs/Word 2 transparent.png');
	background-size:contain;
	background-repeat:no-repeat;
	height: 350px;

}
.carousel {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#carousel:hover {
  background-color: rgba(0,0,0,0.5);
}

a.credit {
  position: fixed;
  bottom: 0;
}
