p{
color: black;
margin-left: 20px;
margin-right: 20px;
}
#main{
font-size:1.5rem;
font-weight: 100;
}

#main .nav-link{
	color:blue;

}
#main .nav-link:hover{
	color:#EA1C2C;
}

#main .navbar-brand {
	color:#EA1C2C;
	font-size:1.5rem;

}
.navbar {
  height: 40px;
  background-color: blue;
  color: red;
  transition: background-color 1s ease 0s;
}

.jumbotron{
	background-image: url('Imgs/hello2.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	height: 350px;;
}
.carousel {
  width:400px;
  height:360px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
